<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Otp to user</title>
    <style>
       body {
        margin:0;
        padding:0;
        box-sizing: border-box;
        font-family: 'IBM Plex Sans';
       }
       .logo-container {
        height:120px; background-color:rgba(247, 249, 252, 1);
        display: flex;
        justify-content: end;
      
        padding-right:50px;
       }
       .email-text-container {
        width:100; margin: 10%; line-height:30px; word-spacing:3px;
       }
       .footer {
        position:absolute; background: rgba(245, 248, 255, 1); min-height: 150px; width: 100%;
        display: flex;
         justify-content: center;
         align-items: center;
         bottom:0;
       }
       .footer div {
         line-height:30px;
         width:80%;
       }
       @media only screen and (max-width:768px) {
        .email-text-container {
      margin: 5%; line-height:26px; 
       }
          .footer{
           
        position: relative;
          }
          .email-text-container {
            margin: 5%;
          } 
         
       }
    </style>

</head>
<body>

    <div class="logo-container">

        <img height="32px" width="110px" style="margin-top:50px; margin-left:70px; " src="https://res.cloudinary.com/dwaqh1nvr/image/upload/v1737585966/cosmic_forge_logo_4_cinopk.png"/>

    </div>

    <div class="email-text-container" >
      <h1 >Email Verification</h1>
      <p>Hey <%= data.email  %> ,</p>
      <p>

        Thanks for signing up on CosmicForge! This is the start of an exciting journey and we can’t wait to see all the beautiful designs you’ll create with our templates.
        
        </p>
        <p>Use otp code below to verify your account and get started.</p>

        <p>Otp code:<%= data.otp %></p>
    </div>

   

    <footer class="footer" >
        
        <div  >

            Need help? <a href="/"> Contact our support team </a href="/"> or no longer interested in our newsletters? <a href="/"> Unsubscribe here</a>. Want to give us feedback? Let us know what you think on our <a href="/">feedback site</a>.
        </div>

    </footer>

    </body>
</html>